DirectoryIndex index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>

RewriteEngine On
RewriteCond %{HTTP_HOST} ^yaacoub.github.com
RewriteRule (.*) https://yaacoub.com/$1 [R=301,L]

Options +FollowSymLinks
RewriteEngine On
RewriteRule ^apps/index.html /apps [QSA,L]
RewriteRule ^feedback/index.html /feedback [QSA,L]