Options +FollowSymLinks -MultiViews

DirectoryIndex index.html

Test.

ErrorDocument 404 https://yaaoub.github.io

RewriteEngine On

# Rewrite valid requests on .html files
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html?rw=1 [L,QSA]
