Options +FollowSymLinks -MultiViews

DirectoryIndex index.html

RewriteEngine On

# Rewrite valid requests on .html files
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html?rw=1 [L,QSA]