<!-- Footer -->

	<footer>
		<div class="unselectable">
			<div class="directory">
				{%- for paths in site.paths_nav %}
				<div>
					{% assign page = site.pages | where: "path", paths.first | first -%}
					<a class="style-navigation-link-2" href="{{ page.url }}">{{ page.title | escape }}</a>
					{%- assign subpaths = paths | shift -%}
					{%- for path in subpaths -%}
					{% assign subpage = site.pages | where: "path", path | first %}
					<a class="style-navigation-link-1" href="{{ subpage.url }}">{{ subpage.title | escape }}</a>
					{%- endfor %}
				</div>
				{%- endfor %}
			</div>
			<div class="legal">
				<hr>
				<div>
					<div>
						<a class="animation-opacity style-navigation-link-4" href="mailto:{{ site.social_links.email }}"><figure aria-label="Email"><img alt="" src="/-assets/symbols/contacts/email.svg"></figure></a>
						<a class="animation-opacity style-navigation-link-4" href="https://github.com/{{ site.social_links.github }}/" rel="external"><figure aria-label="GitHub"><img alt="" src="/-assets/symbols/contacts/github.svg"></figure></a>
						<a class="animation-opacity style-navigation-link-4" href="https://linkedin.com/in/{{ site.social_links.linkedin }}/" rel="external"><figure aria-label="LinkedIn"><img alt="" src="/-assets/symbols/contacts/linkedin.svg"></figure></a>
						<a class="animation-opacity style-navigation-link-4" href="https://x.com/{{ site.social_links.x }}/" rel="external"><figure aria-label="X"><img alt="" src="/-assets/symbols/contacts/x.svg"></figure></a>
						<!-- <a class="animation-opacity style-navigation-link-4" href="https://youtube.com/channel/{{ site.social_links.youtube }}" rel="external"><figure aria-label="YouTube"><img alt="" src="/-assets/symbols/contacts/youtube.svg"></figure></a> -->
					</div>
					<p class="style-footer-1">Peter Yaacoub © 2017–{{ site.time | date: "%Y" }}</p>
					<div>
						<span><a class="style-navigation-link-4" href="/feed.xml">Feed</a></span>
						<span><a class="style-navigation-link-4" href="/privacy/">Privacy</a></span>
					</div>
				</div>
			</div>
		</div>
	</footer>