<!-- Footer -->

	<footer>
		<div class="unselectable">
			<div class="directory">
				{%- for paths in site.paths_footer %}
				<div>
					{% assign page = site.pages | where: "path", paths.first | first -%}
					<a class="style-navigation-link-2" href="{{ page.url }}">{{ page.title | escape }}</a>
					{%- assign subpaths = paths | shift -%}
					{%- for path in subpaths -%}
					{% assign subpage = site.pages | where: "path", path | first %}
					<a class="style-navigation-link-1" href="{{ subpage.url }}">{{ subpage.title | escape }}</a>
					{%- endfor %}
				</div>
				{%- endfor %}
				<div>
					<a class="style-navigation-link-2" href="/about#contact">Contact</a>
					<a class="style-navigation-link-1" href="mailto:{{ site.social_links.email }}">Email</a>
					<a class="style-navigation-link-1" href="https://github.com/{{ site.social_links.github }}/" rel="external">GitHub</a>
					<a class="style-navigation-link-1" href="https://twitter.com/{{ site.social_links.twitter }}/" rel="external">Twitter</a>
					<a class="style-navigation-link-1" href="https://youtube.com/channel/{{ site.social_links.youtube }}" rel="external">YouTube</a>
				</div>
			</div>
			<div class="legal">
				<hr>
				<div>
					<p class="style-footer-1">Copyright © {{ site.time | date: "%Y" }} Peter Yaacoub. All rights reserved.</p>
					<span><a class="style-navigation-link-4" href="/feed.xml">Feed</a></span>
					<span><a class="style-navigation-link-4" href="/privacy/">Privacy</a></span>
				</div>
			</div>
		</div>
	</footer>