<!-- Nav -->

	<nav class="{{ layout.nav_theme }}">
		<div class="unselectable">
			<div class="logo"><a class="animation-opacity style-navigation-link-1" href="/"><figure aria-label="{{ site.title }}"><img alt="" class="{%- if layout.nav_theme == 'blurred' -%}color-adjustable{%- endif -%}" src="/-assets/symbols/yaacoub-logo{%- if layout.nav_theme == 'blurred' -%}-dark{%- else -%}-light{%- endif -%}.svg"></figure></a></div>
			<div class="nav-items">
				{%- for paths in site.paths_nav %}
				{% assign nav_page = site.pages | where: "path", paths.first | first -%}
				{%- assign subpaths = paths | shift -%}

				<div class="nav-item {% if subpaths.size > 0 %}has-submenu{% endif %}">
					<div class="directory">
						<div>
							<a class="style-navigation-link-{%- if page.url == nav_page.url -%}3{%- else -%}1{%- endif -%}" href="{{ nav_page.url }}">{{ nav_page.title | escape }}</a>
							<div class="submenu">
								{%- for path in subpaths -%}
								{% assign subpage = site.pages | where: "path", path | first %}
								<a class="style-navigation-link-1" href="{{ subpage.url }}">{{ subpage.title | escape }}</a>
								{%- endfor %}
							</div>
						</div>
					</div>
				</div>

				{%- endfor %}
			</div>
			<div class="spacer"></div>
		</div>
	</nav>