* {
    margin: 0;
}

a {
    color: #02a6a6;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #de5071;
    transition: 0.5s;
}

body {
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

footer {
    background-color: #000000;
    box-shadow: 0 -7px 14px rgba(0, 0, 0, 0.259);
    font: 12px "Montserrat", sans-serif;
    overflow: hidden;
    padding: 10px;
}

footer li {
    color: #ffffff;
    display: inline;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #ffffff;
    opacity: 0.5;
}

footer ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

main {
    background-color: #ffffff;
    min-height: calc(100vh - 50px);
    overflow: auto;
}

nav {
    align-items: center;
    background-color: #000000;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.259);
    display: flex;
    font: 20px "Montserrat", sans-serif;
    top: 0;
}

nav a {
    color: #ffffff;
}

nav li {
    display: inline;
}

nav ul {
    height: 24px;
    list-style-type: none;
    padding: 13px 20px;
    word-spacing: 30px;
}

p {
    font: 18px "Open Sans", sans-serif;
    padding: 0;
    text-align: justify;
}

.center-children {
    align-items: center;
    display: flex;
    justify-content: center;
}

.current-page {
    opacity: 0.5;
}

.current-page:hover {
    color: #ffffff;
}

.footer-legal {
    display: block;
    float: left;
}

.footer-links {
    display: block;
    float: right;
    word-spacing: 15px;
}

.footer-social {
    word-spacing: 15px;
}

.footer-social img {
    height: 20px;
    width: 20px;
}

.homepage {
    font-weight: bold;
}

.homepage:hover {
    color: #ffffff;
}

.material-icons {
    cursor: auto !important;
    font-size: 20px;
    padding-bottom: 1px;
    vertical-align: middle;
}

.material-icons, .unselectable {
    cursor: default;
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

@media only screen and (max-width: 800px) {

    .footer-links {
        float: left;
    }

}

@media only screen and (max-width: 414px) {

    nav {
        font-size: 15px;
        justify-content: center;
    }

    nav ul {
        height: 19px;
        padding: 15.5px 13px;
    }

}