* {
    margin: 0;
}

a, a:visited {
    color: rgb(96, 102, 202);
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: rgb(202, 102, 96) !important;
    transition: 0.5s;
}

article {
    padding: 30px;
}

article h1, nav h1 {
    margin-bottom: 25px;
}

article h1, nav h1, li, p, time {
    width: 100%;
}

article section {
    padding-top: 15px;
}

body, html {
    height: 100%;
    overflow-y: hidden;
}

h1 {
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}

h2 {
    font-size: 22.5px;
    line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: 700;
}

hr {
    align-content: center;
    background-color: black;
    border-style: none;
    height: 2px;
    margin: 0 47.5% 20px 47.5%;
    width: 5%;
}

li, p, time {
    font-family: "Verdana";
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
}

main {
    height: 100%;
    position: absolute;
    right: 0;
    width: calc(100% - 250px);
}

nav {
    background-color: white;
    font-family: "Montserrat";
    font-weight: 400;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 250px;
    z-index: 1;
}

nav a, nav a:visited {
    color: black;
}

nav h1 a:hover {
    color: black !important;
}

nav h2 {
    font-weight: 500;
    transition: 0.5s;
}

nav h2 a:hover {
    padding-left: 10px;
}

nav ul {
    list-style: none;
    padding: 10px;
}

p {
    margin: 30px 0 30px 0;
}

time {
    color: grey;
    display: block;
    text-align: center;
}

.centerXY {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.headline {
    background-color: black;
    color: white;
    padding: 20px;
    white-space: nowrap;
}

.headline h1 {
    font-size: calc(25px + 1vw);
    font-weight: 800;
    line-height: normal;
    text-align: left;
}

.material-icons {
    font-size: 36px;
}

.menu-bar {
    background-color: white;
    display: none;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menu-close {
    display: none;
    right: 0px;
    position: absolute;
}

.menu-close:hover, .menu-open:hover {
    color: rgb(202, 101, 96) !important;
    transition: 0.5s;
}

.menu-footer {
    bottom: 0;
    position: absolute;
}

.menu-footer li {
    font-size: 12.5px;
    line-height: normal;
}

.menu-item-selected {
    color: rgb(202, 101, 96) !important;
    padding-left: 10px;
}

.menu-open {
    left: 0px;
    position: absolute;
}

.menu-open, .menu-close {
    cursor: pointer;
    margin: 0 10px 0 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transition: 0.5s;
}

.unselectable {
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

@media only screen and (max-width: 1000px) {

    main {
        top: 50px;
        height: calc(100% - 50px);
        width: 100%;
    }

    nav {
        display: none;
        width: 100%;
    }

    .hide {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .menu-footer {
        padding: 0 0 10px 0;
        width: 100%;
    }

    .menu-footer li {
        text-align: center;
    }

    .show {
        display: block;
    }

}