section {
    border-radius: 20px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.259);
    display: flex;
    margin: 5% 25%;
    overflow: hidden;
}

section > * {
    flex: 1;
}

.content-image {
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.259);
    margin: 20px;
}

.content-information {
    padding: 20px;
}

.content-information img {
    filter: drop-shadow(0px 0 14px rgba(0, 0, 0, 0.259));
    min-width: 50px;
    vertical-align: middle;
    width: calc(25% - 20px);
    -webkit-filter: drop-shadow(0px 0 14px rgba(0, 0, 0, 0.259));
}

.content-information > * {
    margin: 10px;
}

.content-title {
    display: inline-block;
    vertical-align: middle;
}

.content-title h2 {
    color: #808080;
    font-weight: normal;
}

@media only screen and (max-width: 1280px) {

    section {
        flex-flow: column wrap;
    }

    .content-image {
        height: 250px;
        flex: initial;
    }

}

@media only screen and (max-width: 800px) {

    section {
        margin: 10% 12.5%;
    }

}

@media only screen and (max-width: 414px) {

    section {
        margin: 10% 6.25%;
    }

}
