body {
    background-attachment: fixed;
    background-image: url("/-images/background-home.png");
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
}

main {
    width: 100% !important;
}

.redirect {
    background-color: white;
    color: black;
    bottom: 0;
    padding: 5px 0px 5px 0px;
    position: absolute;
    text-align: center;
    transition: 0.5s;
    width: 100%;
}

.redirect:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}