/* Section Hero */

section.hero {
	background-color: var(--color-element-background-secondary);
	padding-bottom: 0;
}

section.hero > div {
	column-gap: var(--padding-m);
	grid-template-columns: 1fr 0.5fr;
}

section.hero figure img {
	margin: 0;
	min-height: initial;
	object-fit: contain;
	width: calc(100% - var(--padding-m));
}

section.hero h1 {
	text-align: initial;
}

section.hero header {
	align-content: center;
	display: grid;
	grid-auto-rows: 0fr;
	justify-content: center;
	row-gap: var(--padding-s);
}



/* Media Queries */

@media only screen and (max-width: 1000px) {

	section.hero {
		padding-bottom: 0;
	}

	section.hero > div {
		align-items: end;
		row-gap: var(--padding-m);
		grid-template-columns: 1fr;
		grid-template-rows: 0fr 1fr;
	}

	section.hero figure img {
		height: var(--hero-image-max-width);
	}

}