/* App Tiles */

.app-tiles {
	padding-top: var(--padding-s);
}



/* Section Awards */

section.awards > div {
	column-gap: var(--padding-m);
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: var(--padding-m);
	text-align: center;
}

section.awards figure {
	height: var(--symbol-m);
	width: var(--symbol-m);
}

section.awards h2 {
	grid-column: span 3;
}

section.awards .award {
	background-color: var(--color-element-background-secondary);
	display: grid;
	justify-items: center;
	padding: var(--padding-m);
	row-gap: var(--padding-s);
	text-align: center;
}

section.awards figure img {
	object-fit: contain;
}



/* Section Bio */

section.bio > div {
	text-align: center;
	row-gap: var(--padding-s);
}

section.bio h2 {
	margin-bottom: calc(var(--padding-xl) - var(--padding-s));
}

section.bio .symbols {
	column-gap: var(--padding-xl);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: var(--padding-s);
	row-gap: var(--padding-m);
}

section.bio .symbols a.item:hover figure img {
	filter: invert(0.2);
	transform: initial;
}

section.bio .symbols a.item:hover h3 {
	text-decoration: underline;
}

section.bio .symbols figure {
	height: var(--symbol-l);
	width: var(--symbol-l);
}

section.bio .symbols figure img {
	object-fit: contain;
}

section.bio .symbols .item {
	display: grid;
	justify-items: center;
	row-gap: var(--padding-s);
}



/* Section Hero */

section.hero {
	background-color: var(--color-element-background-secondary);
	padding-bottom: 0;
}

section.hero > div {
	column-gap: var(--padding-m);
	grid-template-columns: 1fr 0.5fr;
}

section.hero figure img {
	margin: 0;
	min-height: initial;
	object-fit: contain;
	width: calc(100% - var(--padding-m));
}

section.hero h1 {
	text-align: initial;
}

section.hero header {
	align-content: center;
	display: grid;
	grid-auto-rows: 0fr;
	justify-content: center;
	row-gap: var(--padding-s);
}



/* Media Queries */

@media only screen and (max-width: 1000px) {

	section.awards > div {
		grid-auto-rows: 0fr;
		grid-template-columns: 1fr;
		text-align: center;
	}

	section.awards h2 {
		grid-column: initial;
	}

	section.hero {
		padding-bottom: var(--padding-l);
	}

}

@media only screen and (max-width: 700px) {

	section.awards .award {
		padding: var(--padding-m);
	}

	section.bio .symbols {
		grid-template-columns: 1fr;
		row-gap: var(--padding-m);
	}

	section.bio .symbols figure {
		height: var(--symbol-m);
		width: var(--symbol-m);
	}

	section.hero {
		padding-bottom: 0;
	}

	section.hero > div {
		align-items: end;
		row-gap: var(--padding-m);
		grid-template-columns: 1fr;
		grid-template-rows: 0fr 1fr;
	}

	section.hero figure img {
		height: var(--hero-image-max-width);
	}

}