main {
    scroll-snap-type: mandatory;
}

section {
    background-size: cover;
    background-position: center;
    height: 92.5%;
    position: relative;
    scroll-snap-align: center;
    width: 100%;
}

.app-huh {
    background-image: url("/-images/apps-background-1.jpg");
}

.app-huh-section-1, .app-huh-section-2, .app-huh-section-3 {
    min-height: 33.33%;
    height: calc(100% / 3);
    position: relative;
    transition: 0.5s;
}

.app-huh-icon, .app-huh-appstore-ios {
    background-size: cover;
    background-position: center;
}

.app-huh-icon {
    background-image: url("/-images/apps-huh-icon.png");
    height: calc(100px + 125vw / 48 + 125vh / 27);
    width: calc(100px + 125vw / 48 + 125vh / 27);
}

.app-huh-appstore-ios {
    background-image: url("https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-03-10&kind=iossoftware&bubble=ios_apps");
    display: inline-block;
    height: calc(40px * 1.5);
    width: calc(135px * 1.5);
}

.etcetera {
    background-image: url("/-images/apps-background-2.jpg");
}

@media only screen and (max-width: 1000px) {

    .app-huh-section-1 {
        min-height: calc(100% * 2 / 3);
        height: 66.66%;
        transition: 0.5s;
    }

    .app-huh-section-2 {
        display: none;
        transition: 0.5s;
    }

    .app-huh-appstore-ios {
        height: 40px;
        width: 135px;
    }

}