.image1 {
    background: transparent url('/-images/huh-dictionary/background-1.jpg') center/cover no-repeat;
}

.image2 {
    background: transparent url('/-images/huh-dictionary/background-2.jpg') center/cover no-repeat;
}

.image3 {
    background: transparent url('/-images/huh-dictionary/background-3.jpg') center/cover no-repeat;
}

.image4 {
    background: transparent url('/-images/huh-dictionary/background-4.jpg') center/cover no-repeat;
}

.qr {
    background: transparent url('/-images/huh-dictionary/qr.svg') center/contain no-repeat;
    min-height: 250px;
}