/* Classes */

.feedback {
    border: 0;
    height: 100%;
    overflow-y: visible;
    position: fixed;
    right: 0;
    width: inherit;
}

.loader {
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    border: 5px solid gainsboro;
    border-radius: 50%;
    border-top: 5px solid gray;
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 20px;
}



/* Keyframes */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}



/* Responsive classes */

@media only screen and (max-width: 1000px) {

    .feedback {
        bottom: 0;
        height: calc(100% - 50px);
    }

    .loader {
        animation: spin 2s linear infinite;
        -webkit-animation: spin 2s linear infinite;
        border: 5px solid gainsboro;
        border-radius: 50%;
        border-top: 5px solid gray;
        height: 20px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 20px;
    }

}