/* Cursor */

#cursor {
	animation-direction: normal;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-name: cursor;
	animation-timing-function: ease-in-out;
	background-color: #ff0000;
	border-radius: 50%;
	display: inline-block;
	height: 1000px;
	opacity: 0%;
	overflow: visible;
	position: fixed;
	transition: opacity 0.5s ease-in-out;
	width: 1000px;
	z-index: -1000;
}



/* Section Hero */

section.hero {
	min-height: calc(100dvh - var(--nav-height) - 2 * var(--padding-l));
}

section.hero > div {
	column-gap: var(--padding-m);
	grid-template-columns: 1.5fr 1fr;
}

section.hero figure img {
	align-self: center;
	min-height: initial;
	min-width: initial;
	width: calc(100%);
}

section.hero h1 {
	animation-direction: alternate-reverse;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-name: gradient;
	animation-timing-function: ease-in-out;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(
		to bottom right,
		var(--color-system-green),
		var(--color-system-yellow),
		var(--color-system-orange),
		var(--color-system-red),
		var(--color-system-purple),
		var(--color-system-blue)
	);
	background-size: 200% 200%;
	color: transparent;
	font-size: 8rem;
	line-height: 100px;
	text-align: initial;
}

section.hero header {
	align-self: center;
	display: grid;
	grid-template-rows: repeat(3, min-content);
	row-gap: var(--padding-s);
}



/* Section List */

section.list {
	column-gap: var(--padding-l);
	grid-template-columns: auto auto;
}

section.list > div {
	width: min(100dvw - var(--padding-l), var(--content-width-normal) / 2 - var(--padding-l));
}

section.list .grid {
	grid-template-columns: 1fr;
}



/* Media Queries */

@media(prefers-reduced-motion: no-preference) {

	body:hover #cursor:not(.no-js) {
		opacity: 10%;
	}

	@keyframes cursor {

		0% {
			filter: blur(200px) hue-rotate(0deg);
		}
	
		100% {
			filter: blur(200px) hue-rotate(360deg);
		}
	
	}
	
	@keyframes gradient {
	
		0% {
			background-position: 0% 0%;
		}
	
		100% {
			background-position: 100% 100%;
		}
	
	}

}

@media only screen and (max-width: 1000px) {

	section.hero h1 {
		font-size: 5rem;
		line-height: 63px;
	}

	section.list {
		grid-template-columns: 1fr;
		justify-items: center;
		row-gap: var(--padding-l);
	}

}

@media only screen and (max-width: 700px) {

	section.featured > div {
		grid-template-columns: auto;
		row-gap: var(--padding-l);
	}

	section.hero {
		min-height: calc(100dvh - var(--nav-height) - 2 * var(--padding-l));
	}

	section.hero > div {
		grid-template-columns: auto;
		grid-template-rows: 1fr auto;
		row-gap: var(--padding-m);
	}

	section.hero h1, section.hero p {
		text-align: center;
	}

	section.hero header {
		justify-items: center;
	}

	section.hero figure {
		grid-row: 1;
	}

	section.hero figure img {
		max-width: var(--hero-image-max-width);
	}

	section.hero h1 {
		font-size: 3.5rem;
		line-height: 44px;
	}

}