.background {
    background: transparent url('/-images/background-home.png') center/cover no-repeat;
    height: calc(100vh - 50px);
    width: 100%;
}

.headline {
    background-color: black;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.259);
    color: white;
    font-size: 50px;
    padding: 39.5px 22px;
}

@media only screen and (max-width: 506px) {

    .headline {
        font-size: 30px;
        line-height: 37px;
        padding: 8.26% 5.46%;
    }

}