/* Nav */

nav {
	background-color: var(--color-element-background-primary);
}

nav .style-navigation-link-1, footer .style-navigation-link-2 {
	color: var(--color-element-label-primary);
}



/* Section Hero */

section.hero {
	min-height: calc(100vh - var(--nav-height) - 2 * var(--padding-xl));
}

section.hero > div {
	column-gap: var(--padding-m);
	grid-template-columns: 1.5fr 1fr;
}

section.hero figure img {
	align-self: center;
	min-height: initial;
	min-width: initial;
	width: calc(100% - var(--padding-m));
}

section.hero h1 {
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(to bottom right, var(--color-system-blue-light), var(--color-system-blue-dark));
	color: transparent;
	text-align: initial;
}

section.hero header {
	display: grid;
	row-gap: var(--padding-s);
}



/* Section List */

section.list {
	column-gap: var(--padding-l);
	grid-template-columns: auto auto;
}

section.list > div {
	width: min(100vw - var(--padding-l), var(--content-width-normal) / 2 - var(--padding-l));
}

section.list .grid {
	grid-template-columns: 1fr;
}



/* Classes */

.not-bold {
	font-weight: normal;
}



/* Media Queries */

@media only screen and (max-width: 1000px) {

	section.featured > div {
		grid-template-columns: auto;
		row-gap: var(--padding-l);
	}

	section.hero {
		min-height: calc(100vh - var(--nav-height) - 2 * var(--padding-l));
	}

	section.hero > div {
		grid-template-columns: auto;
		grid-template-rows: 1fr auto;
		row-gap: var(--padding-m);
	}

	section.hero figure {
		grid-row: 1;
	}

	section.hero figure img {
		max-width: var(--hero-image-max-width);
	}

	section.list {
		grid-template-columns: 1fr;
		justify-items: center;
		row-gap: var(--padding-l);
	}

}