/* Elements */

a {
    color: rgb(96, 102, 202);
    transition: 0.5s;
}

a:hover {
    color: rgb(202, 102, 96) !important;
    transition: 0.5s;
}

a:visited {
    color: rgb(96, 102, 202);
}

body {
    font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}



/* Classes */

.main-content {
    padding: 50px;
    text-align: justify;
}