---
layout: "default"
nav_theme: "blurred"
stylesheet: "home"
type: "website"
---

{%- assign posts = site.posts | where_exp: "post", "post.categories contains 'articles'" -%}

		<script defer="" src="/-scripts/home.js"></script>
		<div class="no-js" id="cursor"></div>
		<section class="hero">
			<div>
				<header>
					<h1>{{ site.name.first | escape }} {{ site.name.last | escape }}</h1>
					<p class="style-subheading-1">{{ site.data.copy_about.subheading }}</p>
					<a aria-label="Learn more about Peter Yaacoub" class="link-with-symbol style-link-1" href="about/">
						<span>Learn more</span>
						<img alt="" src="/-assets/symbols/chevron-right.svg">
					</a>
				</header>
				<figure aria-label="Profile Picture">
					<picture>
						<source srcset="/-assets/images/profile.webp" type="image/webp">
						<img alt="" src="/-assets/images/profile.png">
					</picture>
				</figure>
			</div>
		</section>
		<section class="list">
			{% if posts != nil -%}
			<div>
				<header>
					<h2>Featured articles</h2>
					<hr>
				</header>
				<div class="grid">
				{%- for post in posts limit: 3 %}
					<a class="plain" href="{{ post.url }}">
						<figure aria-label="Thumbnail">
							<picture>
								<source srcset="/-assets/images/articles/{{ post.categories | last | slugify }}/{{ post.title | slugify }}/hero.webp" type="image/webp">
								<img alt="" src="/-assets/images/articles/{{ post.categories | last | slugify }}/{{ post.title | slugify }}/hero.png">
							</picture>
						</figure>
						<header>
							<p class="style-title-1">{{ post.title }}</p>
							<p class="style-detail-1">{{ post.categories | last | replace: "-", " " | capitalize }} • <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date_to_long_string }}</time></p>
						</header>
					</a>
				{%- endfor %}
				</div>
				<a aria-label="View more articles" class="link-with-symbol style-link-1" href="/articles/">
					<span>View more</span>
					<img alt="" src="/-assets/symbols/chevron-right.svg">
				</a>
			</div>
			{% endif -%}
			{%- if site.data.apps != nil -%}
			<div>
				<header>
					<h2>Featured apps</h2>
					<hr>
				</header>
				<div class="grid">
				{%- for app in site.data.apps limit: 3 %}
					<a class="plain" href="/apps/{{ app.name | slugify }}/">
						<figure aria-label="Thumbnail">
							<picture>
								<source srcset="/-assets/images/apps/{{ app.name | slugify }}/thumbnail.webp" type="image/webp">
								<img alt="" src="/-assets/images/apps/{{ app.name | slugify }}/thumbnail.png">
							</picture>
						</figure>
						<header>
							<p class="style-title-1">{{ app.name }}</p>
							<p class="style-detail-1">{{ app.platforms | join: " • " }}</p>
						</header>
					</a>
				{%- endfor %}
				</div>
				<a aria-label="View more apps" class="link-with-symbol style-link-1" href="/apps/">
					<span>View more</span>
					<img alt="" src="/-assets/symbols/chevron-right.svg">
				</a>
			</div>
			{%- endif %}
		</section>