---
layout: "default"
stylesheet: "privacy"
type: "website"
---

		<section class="collection collection4 no-animation">
			<div>
				<h1>{{ page.title }}</h1>
				<p class="style-subheading-1">{{ site.data.copy_privacy.description }}</p>
				<hr>
				{%- for app in site.data.apps %}
				<a class="animation-underline app-tiles item plain" href="{{ app.name | slugify }}">
					<figure aria-label="App icon"><img alt="" src="/-assets/images/apps/{{ app.name | slugify }}/icon.webp"></figure>
					<h3>{{ app.name }}</h3>
				</a>
				{%- endfor %}
			</div>
		</section>